.announcement {
  display: none;
  background-color: #BABABA;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1904px;

  &_container {
    display: flex;
    align-items: center;
    height: 234px;
    color: #8eaaac;

    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
  }
  
  @include media-breakpoint-up(lg) {
    display: block;
  }
}
