.article {
  &_header {
    margin-bottom: 6 * $baseline;
    border-bottom: 1px solid $border-color-dark;
  }

  &_details {
    padding: (4 * $baseline) 0;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: 14px;
    line-height: 1;
    color: $text-hint-on-light;
  }

  &_body {
    p {
      margin-bottom: 6 * $baseline;
      font-family: $font-family-serif;
    }

    img {
      max-width: 100% !important;
      height: auto !important;
    }
  }

  &_thumbs {
    background-color: #f7f7f7;
    padding: (2 * $baseline);

    @include media-breakpoint-up(sm) {
      padding: (4 * $baseline);
    }
  }
}

.gallery-article-more-button {
  align-items: center;
  align-self: center;
  width: 163px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.7);
  float: right;
  z-index: 999;
  position: relative;
  color: white;
  flex-direction: column;
  justify-content: center;
  display: flex;
  transition: all 0.3s ease-out;
}
.gallery-article-more-button:hover {
  background-color: rgba(0, 0, 0, 0.2);

  .more-pictures {
    text-decoration: none;
    color: white;
  }
}
.article-count-info {
  font-weight: 400;
  font-size: 14px;
}

@media (max-width: 600px) {
  .article-count-info {
    font-size: 12px;
  }
}